.main{
    justify-content: center;
}

.description{
    padding-top: 10px;
    width:75%;
    margin: auto;
}

.title{
    font-family: 'Permanent Marker', cursive;
    padding-bottom: 20px;
    font-size: 50px;
}